<div class="signin-content">
  <md-card>
    <md-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <md-input-container class="full-width-input">
          <input mdInput placeholder="Имя" formControlName="name">
          <md-error *ngIf="isFieldInvalid('name')">
            Укажите имя
          </md-error>
        </md-input-container>


        <md-input-container class="full-width-input">
          <input mdInput placeholder="Почта" formControlName="email">
          <md-error *ngIf="isFieldInvalid('email')">
            Укажите почту
          </md-error>
        </md-input-container>

        <md-input-container class="full-width-input">
          <input mdInput type="password" placeholder="Пароль" formControlName="password">
          <md-error *ngIf="isFieldInvalid('password')">
            Укажите пароль
          </md-error>
        </md-input-container>

        <button md-raised-button color="primary" type="submit">Регистрация</button>
      </form>
    </md-card-content>
  </md-card>
</div>
